{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2022",
      "keepClassNames": true,
      "loose": true,
      "baseUrl": "./src"
    },
    "module": {
      "type": "commonjs"
    },
    "sourceMaps": true
  }
  